<header>
  <div>
    <div class="container">
      <div class="header-top">
        <div class="header-top__img">
          <a href="#">
            <img src="img/logo-pokemon.png" alt="pokemon logo">
          </a>
        </div>
        <div class="header-top__list">
          <ul class="list">
            <li class="list__item"><button><i class="icon icon-graph"></i></button></li>
            <li class="list__item"><button><i class="icon icon-heart"></i></button></li>
            <li class="list__item"><button><i class="icon icon-shopping-cart"></i></button></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="background">
      <div class="container">
        <div class="header-bottom">
          <div class="row">
            <div class="col-3 header-bottom__catalog">
              <a href="#">
                <i class="icon icon-bars"></i>
                <span class="catalog">Catalog</span>
              </a>
            </div>
            <div class="col-9 col-9-xs  header-bottom__search">
              <div class="search">
                <input type="text" class="search__input" placeholder="Enter your search term...">
                <button type="submit" class="search__btn">
                  <i class="icon icon-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>