$font-main: "Montserrat", sans-serif;

// Color:
$white: #ffffff;
$black: #000000;

$primary: #e9445df6;
$secondary: #005780;

$gray: #4d4d56;
$gray-1: #f9f9f9;
$gray-2: #f2f2f2;
$gray-3: #656565;
$gray-4: #464646;
$gray-5: #b1b1b1;
$blue: #3e4056;
$light-blue: #d7f3ff;
$orange: #d8a800;
$green: #339968;
$teal: #008080;
$red: #ff3e3d;

// Breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;
