$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icon-font" !default;

$icon-bars: "\e90f";
$icon-search: "\e90e";
$icon-grid-xl: "\e900";
$icon-grid-md: "\e901";
$icon-grid-sm: "\e902";
$icon-arrow-down: "\e903";
$icon-angle-right: "\e904";
$icon-percent: "\e905";
$icon-minus: "\e906";
$icon-plus: "\e907";
$icon-arrow-right-bold: "\e908";
$icon-arrow-left-bold: "\e909";
$icon-graph: "\e90a";
$icon-shopping-cart: "\e90b";
$icon-heart: "\e90c";
